html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
}

section {
  height: 100vh;
}
.home {
  background-image: url("./img2.jpg");
  animation: transitionIn 2.75s;
  opacity: 90%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.hover:hover {
  background: white;
}

.navba img {
  height: 75px;
  width: 75px;
}

.homecontent {
  position: absolute;
  left: 60px;
  color: white;
}
.navba {
  /* position: fixed; */
  width: 100%;
  height: 80px;
  z-index: 999;
  background-color: #f88d8d;
  transition: all ease;
}
.navlogo {
  margin: 5px 0px 5px 50px;
}
.navlogo img {
  width: 200px;
  margin-right: 10px;
}
.navba ul {
  position: absolute;
  right: 80px;
}

.v-nav ul li {
  color: #f88d8d;
  padding-top: 20px;
}
.h-ul li {
  color: black;

  padding: 10px;
  margin: 10px;
  font-size: 24px;
}
.logout button {
  color: black;
  font-size: 24px;
}

.navitem:hover {
  /* background-color: #030200; */
  border-radius: 10px;
  color: azure;

  /* font-size: 30px; */

  transition: 0.5s;
  transform: scale(1.25);
}
.navitem-2 {
  margin: 5px;
}
.navitem-2:hover {
  border-radius: 10px;
  color: black;

  background-color: #f88d8d;

  transition: 0.5s;
  transform: scale(1.25);
}

@keyframes transitionIn {
  from {
    opacity: 0%;
  }
  to {
    opacity: 90%;
  }
}
.item-card {
  height: 160px;
}
.card img {
  height: 160px;
  width: 100%;
}

input::placeholder {
  color: black;
}
input:hover::placeholder {
  color: white;
}
.Login,
.Signup {
  background-color: #f88d8d;
  height: 100vh;
}
.Login h3 {
  color: #999999;
  font-size: 30px;
  margin-left: 40px;

  margin-top: 40px;
}
.Signup h3 {
  color: #999999;
  font-size: 30px;
  margin-left: 70px;

  margin-top: 40px;
}
.Login img,
.Signup img {
  height: 400px;
  width: 400px;
  margin: 100px 40px 0px 50px;
}
.Login button,
.Signup button {
  background-color: #f88d8d;
  text-decoration: none;
  font-size: 20px;
  margin-bottom: 10px;
  color: black;
}
.Login button:hover,
.Signup button:hover {
  background-color: black;
  color: white;
}
.form {
  margin-left: 80px;
  margin-top: 40px;
}
.Signupform {
  margin-left: 100px;
}
.Login input,
.Signup input {
  /* border: 1px solid #cccccc; */
  height: 42px;
  width: 300px;
  border-radius: 3px;
  margin-bottom: 8px;
  margin-top: 2px;
  font-weight: 400;
  font-size: 30px;
}
.Login input:focus {
  border-color: cornflowerblue;
}
.navbutton {
  font-size: 30px;
  margin-right: 15px;
  line-height: 80px;
  position: absolute;
  right: 20px;
  top: 2px;

  display: none;
}

.modalbox {
  background-color: white;
  height: 525px;
  width: 500px;
  box-shadow: 0px 4px 8px rgb(0 0 0 / 12%);
  border-radius: 16px;
}
.loginmodalbox {
  background-color: white;
  height: 450px;
  width: 500px;
  box-shadow: 0px 4px 8px rgb(0 0 0 / 12%);
  border-radius: 16px;
}
.maincart {
  display: flex;
  align-items: center;
  justify-content: center;
}
.maincartimg {
  height: 200px;
  width: 200px;
}
.cartimg {
  width: 80px;
  display: flex;
  padding: 6px 12px;
  border: 3px solid black;
  border-radius: 20px;
}
nav ul #hidden {
  display: flex;
}
.maincontent {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 100px;
}
.addbtn {
  background-color: #f88d8d;
  color: black;
}
.addbtn:hover {
  color: white;
  border-radius: 35px;
  transition: 0.5s;
  background: black;
}
.sidenav {
  position: absolute;
  left: 0px;
  width: 280px;
  font-family: "Poppins", sans-serif;
  /* top: 0px; */
  background: black;
  height: 100%;
  color: grey;
}
.sidenav h1 {
  font-size: 25px;
  text-align: center;
  line-height: 65px;

  background: #303030;
  letter-spacing: 1px;
  color: white;
}
.outerul {
  padding: 0px;
}
.sidenav .outerli span {
  transition: transform 0.4s;
}
.innerli active {
  background: #303030;
  color: rebeccapurple;
}

.sidenav ul {
  /* position: fixed;
  top:20px */
  margin-top: 40px;
  /* margin-right: 30px; */
  font-size: 20px;

  width: 100%;
  text-align: center;
  letter-spacing: 0.5px;
  font-weight: 500;
}
.sidenav .outerli {
  line-height: 60px;
  border-bottom: 1px solid rgb(255, 255, 255, 0.5);
}
.sidenav .outerli button {
  color: grey;
  /* color: rgb(223, 213, 213); */
  text-decoration: none;
  width: 100%;
  display: block;
}
.sidenav ul li button:hover {
  color: #f88d8d;
  border-left: 3px solid #f88d8d;
  background: #1e1e1e;
}
.sidenav .innerli a {
  width: 100%;
}
.sidenav .innerli:hover {
  border-left: 3px solid #f88d8d;
  background: #303030;
  color: #f88d8d;
}
.sidenav button:hover span {
  transform: rotate(-180deg);
}
.sidenav a {
  text-decoration: none;
  color: white;
}
.sidenav .innerli {
  line-height: 42px;
  border-bottom: none;
  /* display: none; */
}
.notshow {
  display: none;
}
.show {
  display: block;
  background: #303030;
  color: white;
}
.appoint-outer {
  margin-left: 160px;
}

.date-selector {
  margin-left: 160px;
}

@media screen and (max-width: 1040px) {
  .gridcontainer {
    display: grid;
    grid-column-gap: 80px;
    grid-template-columns: auto auto auto auto;
    padding: 10px;
  }
  .item-card {
    height: 200px;
  }
  .navlogo {
    margin: 5px 0px 5px 10px;
  }
  .navba ul {
    position: absolute;
    right: 35px;
  }
  nav ul li {
    font-size: 15px;
  }
  .cartcontainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
  }

  .maincartimg {
    height: 150px;
    width: 150px;
  }
  .maincontent {
    margin-right: 10px;
  }

  .Signup img {
    height: 300px;
    width: 300px;
  }
}

@media screen and (max-width: 952px) {
  nav ul li {
    font-size: 20px;
  }
  .gridcontainer {
    display: grid;
    grid-column-gap: 80px;
    grid-template-columns: auto auto auto;
    padding: 10px;
  }
  .navba ul {
    position: absolute;
    right: 5px;
  }
  .cartimg {
    width: 70px;
  }
  .navlogo img {
    width: 150px;
    margin-right: 10px;
  }
  .Login img {
    height: 300px;
    width: 300px;
  }
}
@media (max-width: 880px) {
  .navba ul {
    position: absolute;
    right: 5px;
  }
  .gridcontainer {
    display: grid;
    grid-column-gap: 60px;
    grid-template-columns: auto auto auto;
    padding: 10px;
  }
  .navba ul li {
    padding: 5px;
    font-size: 22px;
  }

  .maincartimg {
    height: 200px;
    width: 200px;
  }
  .appoint-main {
    flex-direction: column;
    align-items: center;
  }
  .Login,
  .Signup {
    height: 100%;
  }
  .Login h3 {
    margin-left: 80px;
  }
  .Signup img {
    height: 250px;
    width: 250px;
    margin: 2px 40px 0px 20px;
  }
  .Login img {
    height: 250px;
    width: 250px;
    margin: 100px 40px 0px 20px;
  }
  .Signup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .loginmodalbox {
    height: 500px;
    width: 400px;
  }
  .modalbox {
    margin-bottom: 20px;
    margin-top: 2px;
  }
  .Login p {
    margin-left: 20px;
  }
}
@media (max-width: 760px) {
  .maincontent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
  }
  .maincartimg {
    height: 200px;
    width: 200px;
  }
  .maincontent span {
    margin-left: 130px;
  }
  .cartcontainer {
    margin-left: 80px;
  }
  .navba ul {
    display: none;
  }

  .navbutton {
    display: block;
  }
  nav #hidden {
    position: absolute;
    right: 0px;
    top: 85px;
    /* height:290px;
        max-height: 290px; */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(243, 244, 246, var(--tw-bg-opacity));
  }
  .mainpage {
    position: absolute;
    top: 400px;
    transition: 0.5s;
  }
  .gridcontainer {
    display: grid;
    grid-column-gap: 50px;
    grid-template-columns: auto auto auto;
    padding: 10px;
  }
  .navlogo img {
    width: 200px;
    margin-left: 40px;
  }
  .sidenav {
    width: 260px;
  }
  .Login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .Login img {
    height: 250px;
    width: 250px;
    margin: 2px 40px 0px 20px;
  }
  .loginmodalbox {
    height: 500px;
    width: 400px;
    margin-top: 2px;
    margin-bottom: 20px;
  }
  .Login p {
    margin-left: 20px;
  }
}
@media screen and (max-width: 650px) {
  .gridcontainer {
    display: grid;
    grid-column-gap: 80px;
    grid-template-columns: auto auto;
    padding: 10px;
  }
  .maincontent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }
  .maincart {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .maincartimg {
    height: 200px;
    width: 260px;
  }
  .cartbtn {
    margin-top: 20px;
    padding-left: 30px;
  }
  .sidenav {
    width: 230px;
  }
  .appoint-outer {
    margin-left: 80px;
  }
  .book-btn {
    margin-left: 100px;
  }
}
@media screen and (max-width: 550px) {
  .gridcontainer {
    display: grid;
    grid-column-gap: 40px;
    grid-template-columns: auto auto;
    padding: 10px;
  }
  .maincartimg {
    height: 200px;
    width: 220px;
  }
  .cartbtn {
    margin-top: 20px;
  }
  .sidenav {
    display: none;
  }
  .appoint-outer {
    margin-left: 10px;
  }
  .appoint-main {
    flex-direction: column;
    align-items: flex-start;
  }
  .date-selector {
    margin-left: 10px;
  }
  .appoint-outer button {
    margin-left: 2px;
  }
}
@media screen and (max-width: 470px) {
  .gridcontainer {
    display: grid;
    grid-column-gap: 20px;
    grid-template-columns: auto auto;
    padding: 10px;
  }
  .Login input,
  .Signup input {
    /* border: 1px solid #cccccc; */
    margin-left: 10px;
    width: 200px;
    border-radius: 3px;
    margin-bottom: 8px;
    margin-top: 2px;
    font-weight: 400;
    font-size: 30px;
  }
  .Signup h3 {
    margin-top: 80px;
    margin-left: 10px;
  }

  .modalbox {
    width: 400px;
    height: 560px;
  }
}
@media screen and (max-width: 440px) {
  .gridcontainer {
    display: grid;
    grid-column-gap: 10px;
    grid-template-columns: auto;
    padding: 10px;
  }
  .card img {
    height: 160px;
    width: 100%;
  }
}
@media screen and (max-width: 410px) {
  .Login img,
  .Signup img {
    height: 200px;
    width: 200px;
    margin: 2px 40px 0px 20px;
  }

  .loginmodalbox,
  .modalbox {
    background-color: #f88d8d;
    height: 100%;
    width: 100%;
    box-shadow: 0px 0px 0px rgb(0 0 0 / 12%);
    border-radius: 0px;
  }
  .form,
  .Signupform {
    margin-left: 40px;
    margin-top: 40px;
  }
  .Login h3,
  .Signup h3 {
    margin-top: 10px;
    margin-left: 40px;
    color: black;
  }
  .Login button,
  .Signup button {
    background-color: black;
    color: white;
    text-decoration: none;
    font-size: 20px;
    margin-bottom: 10px;
  }
  .Login input,
  .Signup input {
    /* border: 1px solid #cccccc; */
    height: 42px;
    width: 300px;
    margin-left: 2px;
  }
  .Signup p {
    margin-left: 80px;
  }
  .gridcontainer {
    display: grid;
    grid-column-gap: 10px;
    grid-template-columns: auto;
    padding: 10px;
  }
  .card img {
    height: 160px;
    width: 100%;
  }
  .maincartimg {
    height: 180px;
    width: 180px;
    margin-left: 10px;
  }
  .maincart {
    justify-content: center;
    align-items: center;
  }

  .maincontent {
    padding: 0px;
  }
  .maincontent span {
    margin-left: 10px;
  }
  .cartcontainer {
    margin-left: 20px;
  }
  .cartbtn {
    margin-left: 20px;
  }
}
